################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
*.suo
*.map
/.vs/
.vs/
/.vs