.exp-container {
    position: relative;
}
 
    .exp-container input {
        padding-left: 23px;
    }
 
        .exp-container input.in-valid-char {
            border-color: red;
            outline-color: red;
        }
 
    .exp-container .exp-notification {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 9px;
        left: 5px;
    }
 
        .exp-container .exp-notification span {
            display: none;
            color: #fff;
            width: 16px;
            height: 16px;
            line-height: 16px;
            border-radius: 10px;
            font-size: 10px;
            text-align: center;
        }
 
 
        .exp-container .exp-notification .ok {
            background-color: #2b9223;
        }
 
        .exp-container .exp-notification .error {
            background-color: #ba3636;
        }
 
        .exp-container .exp-notification.invalid .ok {
            display: none;
        }
 
        .exp-container .exp-notification.invalid .error {
            display: block;
        }
 
        .exp-container .exp-notification.valid .ok {
            display: block;
        }
 
        .exp-container .exp-notification.valid .error {
            display: none;
        }
 
    .exp-container .exp-suggestions {
        border-color: red;
        background-color: white;
        box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.3);
        min-height: 50px;
        max-height: 300px;
        overflow-y: auto;
        position: absolute;
        display: none;
        z-index: 1150;
    }
 
        .exp-container .exp-suggestions.up {
            bottom: 36px;
        }
 
        .exp-container .exp-suggestions .exp-suggestion-item {
            cursor: pointer;
            width: 100%;
            padding: 3px 5px;
            min-width: 200px;
        }
 
            .exp-container .exp-suggestions .exp-suggestion-item.selected {
                font-weight: bold;
            }
 
            .exp-container .exp-suggestions .exp-suggestion-item:hover {
                background-color: #337ab7;
                color: white;
            }